{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-10 col-sm-6 comments-card">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2>Want to submit a question ?</h2> 
                    <p>Send an email to o@wine.com to be featured on our blog section.
                        Submit questions, ideas, tasting notes Q&As for a chance to be featured</p> 
                </div>
            </div>
        </div>
    </div>
    {% for blog in blogpost %}
    <div class="row justify-content-center">
        <div class="col-10 col-sm-6 comments-card">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <a href="{% url 'blog_detail' blog.id %}">
                    <!-- Have blog title, author and created or last updated dates here. -->
                        <h2 class="mb-0">
                            {{ blog.title }}  
                        </h2>
                        <h4>
                            by {{ blog.user|title }}
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Endfor loop -->
    {% endfor %}
{% endblock %}